<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>공지사항</title>
    <link rel="stylesheet" href="/css/common/header.css" />
    <link rel="stylesheet" href="/css/common/footer.css" />
    <link rel="stylesheet" href="/css/common/nav.css" />
    <link rel="stylesheet" href="/css/common/table.css" />
    <link rel="stylesheet" href="/css/common/pagination.css" />
    <link rel="stylesheet" href="/css/common/side-menu.css" />
  </head>
  <body>
    <div id="wrapper">
        <th:block th:include="/common/html/header.html"/>
      <nav>
        <div>
          <div>
            <a href="/static">
              <img src="/images/ico-home.png" alt="홈페이지" />
              &ensp;&ensp;
            </a>
            <a href="">&ensp;&ensp;커뮤니티&ensp;&ensp;</a>
            <a href="">&ensp;&ensp;공지사항</a>
          </div>
        </div>
      </nav>
      <main id="container">
        <aside id="side-menu">
          <div class="title-area">
            <h1>입학안내</h1>
          </div>
          <a th:href="@{/enterInformation/advice}" class="menu">공지사항</a>
          <a th:href="@{/enterInformation/regular}" class="menu">수시모집</a>
          <a th:href="@{/enterInformation/jungsi}" class="menu">정시모집</a>
          <a th:href="@{/enterInformation/transfer}" class="menu">편입합</a>
          <a th:href="@{/enterInformation/counsel}" class="menu">입학상담</a>
        </aside>
        <section>
          <div class="title-area">
            <h1>공지사항</h1>
          </div>
          <div id="search-area">
            <select class="search-input">
              <option value="">전체</option>
              <option value="">공지</option>
            </select>
            <input
              type="search"
              name="keyword"
              class="search-box search-input"
              placeholder="검색어를 입력하세요"
            />
            <input type="submit" class="search-btn search-input" value="검색" />
          </div>
          <table>
            <tr>
              <th>번호</th>
              <th>제목</th>
              <th>작성자</th>
              <th>작성일</th>
              <th>조회</th>
            </tr>
            <tbody>
              <tr>
                <td>3</td>
                <td>
                  <img src="/images/ico-new01.gif">
                  <a href="#">
                  2025학년도 신입학 3차 추가모집 모집요강 및 모집···</td>
                  </a>
                <td>담당자</td>
                <td>24.04.09</td>
                <td>160</td>
              </tr>
              <tr>
                <td>2</td>
                <td>
                  <img src="/images/ico-new01.gif">
                  <a href="#">
                    2025학년도 신입학 2차 추가모집 모집요강 및 모집···</td>
                  </a>
                <td>담당자</td>
                <td>24.04.09</td>
                <td>160</td>
              </tr>
              <tr>
                <td>1</td>
                <td>
                  <a href="#">
                    2025학년도 신입학 추가모집 모집요강 및 모집인원 공지···</td>
                  </a>
                <td>담당자</td>
                <td>24.04.09</td>
                <td>160</td>
              </tr>
            </tbody>
          </table>
          <div class="pagination">
            <!--<a></a> 태그 대신 자바스크립트 fetch("/page.do?pg=1") 함수를 사용할 것-->
            <button><<</button>
            <button class="prev"><</button>
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button class="next">></button>
            <button>>></button>
          </div>
        </section>
      </main>
      <th:block th:include="/common/html/footer.html"/>
    </div>
    <script src="/js/community/request.js"></script>
    <script src="/js/community/animation.js"></script>
  </body>
</html>
