<!--
    작성자: garden(박정원)
    설명 : 대학/대학원 > 사범대학
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>사범대학</title>
    <link rel="stylesheet" href="/css/common/header.css" />
    <link rel="stylesheet" href="/css/common/footer.css" />
    <link rel="stylesheet" href="/css/common/nav.css" />
    <link rel="stylesheet" href="/css/common/table.css" />
    <link rel="stylesheet" href="/css/common/pagination.css" />
    <link rel="stylesheet" href="/css/common/side-menu.css" />
    <link rel="stylesheet" href="/css/univers/univers.css" />
  </head>
  <body>
    <div id="wrapper">
      <th:block th:include="/common/html/header.html"/>
      <nav>
        <div>
          <div>
            <a href="/">
              <img src="/images/ico-home.png" alt="홈페이지" />
              &ensp;&ensp;
            </a>
            <a href="">&ensp;&ensp;커뮤니티&ensp;&ensp;</a>
            <a href="">&ensp;&ensp;공지사항</a>
          </div>
        </div>
      </nav>
      <main id="container">
        <aside id="side-menu">
          <div class="title-area">
            <h1>대학·대학원</h1>
          </div>
          <a th:href="@{/university/humanities}" class="menu">인문사회대학</a>
          <a th:href="@{/university/naturalScience}" class="menu">자연과학대학</a>
          <a th:href="@{/university/engineering}" class="menu">공과대학</a>
          <a th:href="@{/university/education}" class="menu">사범대학</a>
          <a th:href="@{/university/graduate}" class="menu">대학원</a>
        </aside>
        <section>
          <div class="title-area">
            <h1>사범대학</h1>
          </div>
          <div class="section_main_1">
            <div class="PHOTO"><img src="/images/college-introduce-4.jpg" alt="홈페이지" /></div>
            <div class="story">Education<br>
              <p>미래를 움직이는 큰 인재, 세계의 주역!</p>
            전공영역은 물론 현대 교육에 대한 학문적 탐구의 자질 및 인격 도야에 중점을 두고 있습니<br>
            다. 원격강의, 스튜디오, 원격교육강의실, 교육매체 제작실, 멀티미디어 강의실, 어학학습실,<br>
            수업행동 분석실 등 첨단 시설을 갖춘 교육지원센터를 운영하고 있습니다. 부속기관으로는<br>
            중등교육연수원, 과학교육연구소, 부설고등학교 등이 있습니다.
            </div>
          </div>
          <div class="section_main_2">
            <p>학부 및 학과</p><br>
            <table>
              <tr>
                <th>학과/전공</th>
                <th>학과장</th>
                <th>학과 사무실 번호</th>
                <th>비고</th>
              </tr>
              <tr>
                <th>국어교육과&ensp;<img src="/images/ico_link.png"></th>
                <th>김국어</th>
                <th>051-123-4001</th>
                <th></th>
              </tr>
              <tr>
                <th>영어교육과&ensp;<img src="/images/ico_link.png"></th>
                <th>김영어</th>
                <th>051-123-4002</th>
                <th></th>
              </tr>
              <tr>
                <th>수학교육과&ensp;<img src="/images/ico_link.png"></th>
                <th>김수학</th>
                <th>051-123-4003</th>
                <th></th>
              </tr>
              <tr>
                <th>윤리학과&ensp;<img src="/images/ico_link.png"></th>
                <th>김윤리</th>
                <th>051-123-4004</th>
                <th></th>
              </tr>
              <tr>
                <th>교육학과&ensp;<img src="/images/ico_link.png"></th>
                <th>김교육</th>
                <th>051-123-4005</th>
                <th></th>
              </tr>
              <tr>
                <th>사회교육과&ensp;<img src="/images/ico_link.png"></th>
                <th>김사회</th>
                <th>051-123-4006</th>
                <th></th>
              </tr>
              <tr>
                <th>역사교육과&ensp;<img src="/images/ico_link.png"></th>
                <th>김역사</th>
                <th>051-123-4007</th>
                <th></th>
              </tr>
              <tr>
                <th>체육교육과&ensp;<img src="/images/ico_link.png"></th>
                <th>김체육</th>
                <th>051-123-4008</th>
                <th></th>
              </tr>
              <tr>
                <th>특수교육과&ensp;<img src="/images/ico_link.png"></th>
                <th>김특수</th>
                <th>051-123-4009</th>
                <th></th>
              </tr>
            </table>

          </div>
        </section>
      </main>
      <th:block th:include="/common/html/footer.html"/>
    </div>
    <script src="/js/community/request.js"></script>
    <script src="/js/community/animation.js"></script>
  </body>
</html>
