<!--
    작성자: garden(박정원)
    설명 : 대학/대학원 > 자연과학대학
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>공지사항</title>
    <link rel="stylesheet" href="/css/common/header.css" />
    <link rel="stylesheet" href="/css/common/footer.css" />
    <link rel="stylesheet" href="/css/common/nav.css" />
    <link rel="stylesheet" href="/css/common/table.css" />
    <link rel="stylesheet" href="/css/common/pagination.css" />
    <link rel="stylesheet" href="/css/common/side-menu.css" />
    <link rel="stylesheet" href="/css/univers/univers.css" />
  </head>
  <body>
    <div id="wrapper">
      <th:block th:include="/common/html/header.html"/>
      <nav>
        <div>
          <div>
            <a href="/">
              <img src="/images/ico-home.png" alt="홈페이지" />
              &ensp;&ensp;
            </a>
            <a href="">&ensp;&ensp;커뮤니티&ensp;&ensp;</a>
            <a href="">&ensp;&ensp;공지사항</a>
          </div>
        </div>
      </nav>
      <main id="container">
        <aside id="side-menu">
          <div class="title-area">
            <h1>대학·대학원</h1>
          </div>
          <a th:href="@{/university/humanities}" class="menu">인문사회대학</a>
          <a th:href="@{/university/naturalScience}" class="menu">자연과학대학</a>
          <a th:href="@{/university/engineering}" class="menu">공과대학</a>
          <a th:href="@{/university/education}" class="menu">사범대학</a>
          <a th:href="@{/university/graduate}" class="menu">대학원</a>
        </aside>
        <section>
          <div class="title-area">
            <h1>자연과학대학</h1>
          </div>
          <div class="section_main_1">
            <div class="PHOTO"><img src="/images/college-introduce-2.jpg" alt="홈페이지" /></div>
            <div class="story">Natural Sciences<br>
              <p>자연과학의 기초 이론 교수와 연구, 융합 및 응용과학<br>의 토대 제공</p>
            자연과학대학은 미래 첨단과학기술사회의 학계, 연구소, 산업계 등을 주도적으로 이끌어 나<br>
            갈 기초과학 인재 양성을 교육목표로 한다. 자연과학의 근간이 되는 물리, 화학 응용수학, 미<br>
            생물학, 과학컴퓨팅 및 간호학의 기초 이론을 교수·연구하고 융합 및 응용과학의 토대를 제<br>
            공할 것이다.
            </div>
          </div>
          <div class="section_main_2">
            <p><img src="/images/bullet-h4.png">&nbsp&nbsp학부 및 학과</p><br>
            <table>
              <tr>
                <th>학과/전공</th>
                <th>학과장</th>
                <th>학과 사무실 번호</th>
                <th>비고</th>
              </tr>
              <tr>
                <th>수학과&ensp;<img src="/images/ico_link.png"></th>
                <th>김수학</th>
                <th>051-123-2001</th>
                <th></th>
              </tr>
              <tr>
                <th>물리학과&ensp;<img src="/images/ico_link.png"></th>
                <th>김물리</th>
                <th>051-123-2002</th>
                <th></th>
              </tr>
              <tr>
                <th>화학과&ensp;<img src="/images/ico_link.png"></th>
                <th>김화학</th>
                <th>051-123-2003</th>
                <th></th>
              </tr>
              <tr>
                <th>천문학과&ensp;<img src="/images/ico_link.png"></th>
                <th>김천문</th>
                <th>051-123-2004</th>
                <th></th>
              </tr>
              <tr>
                <th>지구과학학과&ensp;<img src="/images/ico_link.png"></th>
                <th>김지구</th>
                <th>051-123-2005</th>
                <th></th>
              </tr>
              <tr>
                <th>생명과학과&ensp;<img src="/images/ico_link.png"></th>
                <th>김생명</th>
                <th>051-123-2006</th>
                <th></th>
              </tr>
              <tr>
                <th>미생물학과&ensp;<img src="/images/ico_link.png"></th>
                <th>김생물</th>
                <th>051-123-2007</th>
                <th></th>
              </tr>
              <tr>
                <th>해양학과&ensp;<img src="/images/ico_link.png"></th>
                <th>김해양</th>
                <th>051-123-2008</th>
                <th></th>
              </tr>
            </table>

          </div>
        </section>
      </main>
      <th:block th:include="/common/html/footer.html"/>
    </div>
    <script src="/js/community/request.js"></script>
    <script src="/js/community/animation.js"></script>
  </body>
</html>
