<!--
    작성자: id3ntity99(이현민)
    설명 : 학생지원 > 교과과정 페이지
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>교과과정</title>
  </head>
  <link rel="stylesheet" href="/css/common/header.css" />
  <link rel="stylesheet" href="/css/common/nav.css" />
  <link rel="stylesheet" href="/css/common/side-menu.css" />
  <link rel="stylesheet" href="/css/common/table.css" />
  <link rel="stylesheet" href="/css/common/footer.css" />
  <link rel="stylesheet" href="/css/support/curriculum.css" />
  <body>
    <div id="wrapper">
      <th:block th:include="/common/html/header.html"/>
      <nav>
        <div>
          <div>
            <a href="/">
              <img src="/images/ico-home.png" alt="홈페이지" />
              &ensp;&ensp;
            </a>
            <a href="">&ensp;&ensp;학생지원&ensp;&ensp;</a>
            <a href="">&ensp;&ensp;교과과정</a>
          </div>
        </div>
      </nav>
      <main id="container">
      <th:block th:include="/support/aside.html"/>
        <section>
          <div class="title-area">
            <h1>교과과정</h1>
          </div>
          <div class="subtitle-area">
            <img src="/images/bullet-h4.png" />
            <h1 class="subtitle">공통과목(전공)</h1>
          </div>
          <table>
            <tr>
              <th>수준</th>
              <th>코드번호</th>
              <th>이수구분</th>
              <th>교과목명</th>
              <th>학점</th>
            </tr>
            <tr>
              <td style="border-right: 1px solid #dedede" rowspan="6">1</td>
              <td>G01940</td>
              <td>공통</td>
              <td>C언어</td>
              <td>3</td>
            </tr>
            <tr>
              <td>G01940</td>
              <td>공통</td>
              <td>C언어</td>
              <td>3</td>
            </tr>
            <tr>
              <td>G01940</td>
              <td>공통</td>
              <td>C언어</td>
              <td>3</td>
            </tr>
            <tr>
              <td>G01940</td>
              <td>공통</td>
              <td>C언어</td>
              <td>3</td>
            </tr>
            <tr>
              <td>G01940</td>
              <td>공통</td>
              <td>C언어</td>
              <td>3</td>
            </tr>
            <tr>
              <td>G01940</td>
              <td>공통</td>
              <td>C언어</td>
              <td>3</td>
            </tr>
            <tr>
              <td style="border-right: 1px solid #dedede" rowspan="8">2</td>
              <td>G01940</td>
              <td>공통</td>
              <td>C언어</td>
              <td>3</td>
            </tr>
            <tr>
              <td>G01940</td>
              <td>공통</td>
              <td>C언어</td>
              <td>3</td>
            </tr>
            <tr>
              <td>G01940</td>
              <td>공통</td>
              <td>C언어</td>
              <td>3</td>
            </tr>
            <tr>
              <td>G01940</td>
              <td>공통</td>
              <td>C언어</td>
              <td>3</td>
            </tr>
            <tr>
              <td>G01940</td>
              <td>공통</td>
              <td>C언어</td>
              <td>3</td>
            </tr>
            <tr>
              <td>G01940</td>
              <td>공통</td>
              <td>C언어</td>
              <td>3</td>
            </tr>
            <tr>
              <td>G01940</td>
              <td>공통</td>
              <td>C언어</td>
              <td>3</td>
            </tr>
            <tr>
              <td>G01940</td>
              <td>공통</td>
              <td>C언어</td>
              <td>3</td>
            </tr>
          </table>
          <div class="subtitle-area">
            <img src="/images/bullet-h4.png" />
            <h1 class="subtitle">선택과목(교양)</h1>
          </div>
          <table>
            <tr>
              <th>수준</th>
              <th>코드번호</th>
              <th>이수구분</th>
              <th>교과목명</th>
              <th>학점</th>
            </tr>
            <tr>
              <td style="border-right: 1px solid #dedede" rowspan="6">1</td>
              <td>G01940</td>
              <td>공통</td>
              <td>C언어</td>
              <td>3</td>
            </tr>
            <tr>
              <td>G01940</td>
              <td>공통</td>
              <td>C언어</td>
              <td>3</td>
            </tr>
            <tr>
              <td>G01940</td>
              <td>공통</td>
              <td>C언어</td>
              <td>3</td>
            </tr>
            <tr>
              <td>G01940</td>
              <td>공통</td>
              <td>C언어</td>
              <td>3</td>
            </tr>
            <tr>
              <td>G01940</td>
              <td>공통</td>
              <td>C언어</td>
              <td>3</td>
            </tr>
            <tr>
              <td>G01940</td>
              <td>공통</td>
              <td>C언어</td>
              <td>3</td>
            </tr>
            <tr>
              <td style="border-right: 1px solid #dedede" rowspan="8">2</td>
              <td>G01940</td>
              <td>공통</td>
              <td>C언어</td>
              <td>3</td>
            </tr>
            <tr>
              <td>G01940</td>
              <td>공통</td>
              <td>C언어</td>
              <td>3</td>
            </tr>
            <tr>
              <td>G01940</td>
              <td>공통</td>
              <td>C언어</td>
              <td>3</td>
            </tr>
            <tr>
              <td>G01940</td>
              <td>공통</td>
              <td>C언어</td>
              <td>3</td>
            </tr>
            <tr>
              <td>G01940</td>
              <td>공통</td>
              <td>C언어</td>
              <td>3</td>
            </tr>
            <tr>
              <td>G01940</td>
              <td>공통</td>
              <td>C언어</td>
              <td>3</td>
            </tr>
            <tr>
              <td>G01940</td>
              <td>공통</td>
              <td>C언어</td>
              <td>3</td>
            </tr>
            <tr>
              <td>G01940</td>
              <td>공통</td>
              <td>C언어</td>
              <td>3</td>
            </tr>
          </table>
        </section>
      </main>
      <th:block th:include="/common/html/footer.html"/>
    </div>
  </body>
</html>
