
@font-face {
    font-family: "Noto Sans KR";
    src: url('/font/NotoSansKR-Light.otf') format('otf'),
        url('/font/NotoSansKR-Light.woff') format('woff'),
        url('/font/NotoSansKR-Light.woff2') format('woff2'),
        url('/font/NotoSansKR-Medium.otf') format('otf'),
        url('/font/NotoSansKR-Medium.woff') format('woff'),
        url('/font/NotoSansKR-Medium.woff2') format('woff2'),
        url('/font/NotoSansKR-Regular.otf') format('otf'),
        url('/font/NotoSansKR-Regular.woff') format('woff'),
        url('/font/NotoSansKR-Regular.woff2') format('woff2')
}


main .log {
    width: 600px;
    height: 600px; 
    margin : 0 auto;
    box-sizing: border-box;
    padding-top: 80px; 
}

main .log_head > p {    
    
    color:#3f97f6; 
}

main .log_head > p:nth-child(1) {
    font-size: x-large;    
    font-weight: 600;
    color:#3f97f6; 
}

main .log_head > p:nth-child(2) {
    margin-bottom: 20px;
}

main .log_head ul{
    float: left;
}


main .log_head a{
    float: right;
}

.register {
    float: right;
    margin-top: 15px;
    font-size: 17px;
}

.log_main > input {
    width: 100%;
    height: 50px; 
    box-sizing: border-box;
    margin-top: 10px;
    border-color: rgb(228, 228, 228);
   }

.log_bottom{
    margin-top: 30px;
    box-sizing: border-box;
}

.log_bottom > p:nth-child(1){
    font-size:large;
    color:#194a7e;
    font-weight:bolder;
    margin-bottom: 4px; 
}

.log_bottom > p:nth-child(2){
    margin-bottom: 3px; 
}
