<footer>
  <div class="footer_Top">
    <div>
      <span class="separator">|</span>
      <a href="#">개인정보처리방침</a>
      <span class="separator">|</span>
      <a href="#">통합정보시스템</a>
      <span class="separator">|</span>
      <a th:href="@{/academicInformation/schedule}">학사일정</a>
      <span class="separator">|</span>
      <a th:href="@{/university/education}">주요민원 연락처</a>
      <span class="separator">|</span>
      <a th:href="@{/academicInformation/notice}">교내공지사항</a>
    </div>
  </div>
  <div class="footer_Bottom">
    <div class="footer_Container">
      <div>
        <div class="footer_img">
          <img src="/images/footer_logo.png" />
        </div>
        <div class="footer_p">
          <p>
            그린대학교<br />
            [12345]부산광역시 부산진구 부전대로 123 그린대학교 /
            대표전화:051-123-1000 /<br />
            입학안내:051-123-1302 팩스:051-123-3333<br /><br />
          </p>
          <p>copyrightⓒ Green University All rights reserved.</p><br>
          <span th:text="${@environment.getProperty('spring.application.name')}"></span>
          ver. <span th:text="${@environment.getProperty('spring.application.version')}"></span>
        </div>
        <select name="main-site" id="main-site">
          <option value="#">주요 사이트</option>
        </select>
      </div>
    </div>
  </div>
</footer>
