<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<header>
  <div>
    <div class="header_Top">
      <div>
        <div class="header_Top_Menu">
          <a th:href="@{/}">HOME</a>
          <span class="separator">|</span>
          <a th:href="@{/introduce/map}">사이트맵</a>
          <span class="separator">|</span>
          <div class="login">
            <div sec:authorize="isAuthenticated()">
              <a th:href="@{/login/logout}">로그아웃</a>
            </div>
            <div sec:authorize="isAnonymous()">
              <a th:href="@{/login/login}">로그인</a>
            </div>
          </div>
          <div sec:authorize="hasAuthority('ROLE_student')">
            <span class="separator">|</span>
            <a th:href="@{/support/curriculum}">학생지원</a>
          </div>
          <div sec:authorize="hasAuthority('ROLE_admin') or hasAuthority('ROLE_professor')">
            <span class="separator">|</span>
            <a th:href="@{/management/managementMain}">학사관리</a>
          </div>
        </div>
      </div>
    </div>
    <div class="header_Bottom">
      <div class="header_Bottom_container">
        <a th:href="@{/}" class="header_logo"></a>
        <div class="header_Bottom_Menu">
          <ul>
            <li>
              <a href="#">대학소개</a>
              <ul class="submenu">
                <li><a th:href="@{/introduce/greeting}">총장 인사말</a></li>
                <li><a th:href="@{/introduce/ideology}">교육이념</a></li>
                <li><a th:href="@{/introduce/history}">연혁</a></li>
                <li><a th:href="@{/introduce/organization}">조직도</a></li>
                <li><a th:href="@{/introduce/map}">오시는길</a></li>
              </ul>
            </li>
            <li>
              <a href="#">입학안내</a>
              <ul class="submenu">
                <li><a th:href="@{/enterInformation/advice}">공지사항</a></li>
                <li><a th:href="@{/enterInformation/regular}">수시모집</a></li>
                <li><a th:href="@{/enterInformation/jungsi}">정시모집</a></li>
                <li><a th:href="@{/enterInformation/transfer}">편입학</a></li>
                <li><a th:href="@{/enterInformation/counsel}">입학상담</a></li>
              </ul>
            </li>
            <li>
              <a href="#">대학·대학원</a>
              <ul class="submenu">
                <li><a th:href="@{/university/humanities}">인문사회대학</a></li>
                <li><a th:href="@{/university/naturalScience}">자연과학대학</a></li>
                <li><a th:href="@{/university/engineering}">공과대학</a></li>
                <li><a th:href="@{/university/education}">사범대학</a></li>
                <li><a th:href="@{/university/graduate}">대학원</a></li>
              </ul>
            </li>
            <li>
              <a href="#">학사안내</a>
              <ul class="submenu">
                <li><a th:href="@{/academicInformation/notice}">공지사항</a></li>
                <li><a th:href="@{/academicInformation/schedule}">학사일정</a></li>
                <li><a th:href="@{/academicInformation/registration}">수강신청</a></li>
                <li><a th:href="@{/academicInformation/score}">성적</a></li>
                <li><a th:href="@{/academicInformation/graduation}">수료 및 졸업</a></li>
                <li><a th:href="@{/academicInformation/qna}">자주묻는질문</a></li>
              </ul>
            </li>
            <li>
              <a href="#">대학생활</a>
              <ul class="submenu">
                <li><a th:href="@{/collegeLife/council}">학생회소개</a></li>
                <li><a th:href="@{/collegeLife/club}">동아리/스터디</a></li>
                <li><a th:href="@{/collegeLife/diet}">식단안내</a></li>
                <li><a th:href="@{/collegeLife/gallery}">갤러리</a></li>
              </ul>
            </li>
            <li>
              <a href="#">커뮤니티</a>
              <ul class="submenu">
                <li><a th:href="@{/article(category=notice)}">공지사항</a></li>
                <li><a th:href="@{/article(category=news)}">뉴스 및 칼럼</a></li>
                <li><a th:href="@{/article(category=employment)}">취업정보</a></li>
                <li><a th:href="@{/article(category=bulletin)}">자유게시판</a></li>
                <li><a th:href="@{/article/qna}">질문과 답변</a></li>
                <li><a th:href="@{/article(category=resources)}">자료실</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
