<main id="container">
  <section>
    <div class="title-area">
      <h1>공지사항</h1>
    </div>
    <form id="search-form" action="#">
      <div id="search-area">
        <select class="search-input">
          <option value="all">전체</option>
          <option value="notice">공지</option>
        </select>
        <input
          type="search"
          name="keyword"
          class="search-box search-input"
          placeholder="검색어를 입력하세요"
        />
        <input type="submit" class="search-btn search-input" value="검색" />
      </div>
    </form>
    <table>
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
        <th>조회</th>
      </tr>
      <tbody>
        <tr>
          <td>3</td>
          <td>
            <a href="#"> 2025학년도 1학기 그린장학회 장학생 신청 안내 </a>
          </td>
          <td>학사지원실</td>
          <td>24.03.10</td>
          <td>160</td>
        </tr>
        <tr>
          <td>3</td>
          <td>
            <a href="#"> 2025학년도 1학기 그린장학회 장학생 신청 안내</a>
          </td>
          <td>학사지원실</td>
          <td>24.03.10</td>
          <td>160</td>
        </tr>
        <tr>
          <td>3</td>
          <td>
            <a href="#"> 2025학년도 1학기 그린장학회 장학생 신청 안내 </a>
          </td>
          <td>학사지원실</td>
          <td>24.03.10</td>
          <td>160</td>
        </tr>
      </tbody>
    </table>
  </section>
</main>
