<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/common/header.css"/>
    <link rel="stylesheet" href="/css/common/footer.css"/>
    <link rel="stylesheet" href="/css/common/nav.css"/>
    <link rel="stylesheet" href="/css/college_life/club.css"/>

    <title>동아리/스터디</title>
</head>
<body>
<div id="wrapper">
    <th:block th:include="/common/html/header.html"/>
    <nav>
        <div>
            <div>
                <a href="#">
                    <img src="/images/ico-home.png" alt="홈페이지" />
                    &ensp;&ensp;
                </a>
                <a href="">&ensp;&ensp;대학생활&ensp;&ensp;</a>
                <a href="">&ensp;&ensp;학생회 소개</a>
            </div>
        </div>
    </nav>

    <main id="container">
        <section class="left_section">
            <aside id="side-menu">
                <div class="title-area">
                    <h1>대학생활</h1>
                </div>
                <a th:href="@{/collegeLife/club}" class="menu">학생회 소개</a>
                <a th:href="@{/collegeLife/council}" class="menu">동아리/스터디</a>
                <a th:href="@{/collegeLife/diet}" class="menu">식단안내</a>
                <a th:href="@{/collegeLife/gallery}" class="menu">갤러리</a>
            </aside>
        </section>

        <section class="right_section">
            <article>
                <div>
                    <h3>동아리/스터디</h3>
                </div>

                <div>
                    <h2><img src="/images/bullet-h4.png" alt="" style="position: relative; top: 3px;">동아리 소개</h2>
                    <table border="1">
                        <thead>
                        <tr>
                            <th>단체명</th>
                            <th>설립목적</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>사계절 동아리</th>
                            <th>대학 생활은 한 번뿐인 소중한 시간입니다. 각 계절의 특별함을 만끽하며 잊지 못할<br>
                                쌓고 싶은 열정을 가진 학생들을 위해 설립
                            </th>
                        </tr>
                        <tr>
                            <th>제니스(밴드 동아리)</th>
                            <th>밴드 음악을 사랑하는 학생들이 모여 즐거움과 성취감을 경험하며, 잠재력을<br>
                                발휘하고 음악적 재능을 개발하며, 캠퍼스 문화를 활성하기 위해 설립
                            </th>
                        </tr>
                        <tr>
                            <th>캠퍼스 지킴이</th>
                            <th>학생들의 응급상황 대처 능력 향상을 통한 안전한 캠퍼스 조성, 사회적 책임감 함양,<br>
                                지속적인 교육 및 캠페인, 전문 인력 양성을 위해 설립
                            </th>
                        </tr>
                        <tr>
                            <th>V.O.W 동아리</th>
                            <th>함께하는 봉사를 통해 다른 학과 학우들과 친해질 기회를 만들어 주어 즐거운<br>
                                대학생활과 도움이 필요한 사람들에게 도움을 줌으로써 봉사 정신을 확립기 위해<br>
                                설립
                            </th>
                        </tr>
                        <tr>
                            <th>MEMORY</th>
                            <th>대학생활을 건전하게 즐기고 다양한 계열(학과) 학생들과의 교류 활성화, 상호정보<br>
                                공유 및 계열(학과)네트워크를 구성해 유익한 환경을 만드는 것이 목적임
                            </th>
                        </tr>
                        <tr>
                            <th>DEUCE</th>
                            <th>배드민턴을 통하여 학생들과 친목을 도모하고 체력을 향상하기 위해 설립</th>
                        </tr>
                        <tr>
                            <th>FREE SOCCER</th>
                            <th>주1회 축구를 통해 재학생들의 건강 증진, 친목 도모, 팀웤 개발을 통해 즐거운 <br>
                                대학 생활을 경험할 수 있도록 하기 위해 설립.
                            </th>
                        </tr>
                        </tbody>
                    </table>
                </div>



            </article>
        </section>
    </main>
    <th:block th:include="/common/html/footer.html"/>
</div>
</body>
</html>