html,body{
    height: auto;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 최소 높이를 화면 높이(뷰포트 높이)로 설정 */
  }
  
  #container {
    flex: 1; /* 메인이 차오르면 푸터가 밀려남 */
  }
  

/*메인*/
#container{
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    
}
/*left_sectin*/
#container > .left_section > aside {
    float: left;
    width: 180px;
    height: auto;
    margin-right: 40px;
  }
  
  .title-area {
    width: 100%;
    height: auto;
    margin-top: 15px;
    border-bottom: 2px solid #111;
    padding: 10px;
  }
  
  .title-area > h1 {
    font-size: 26px;
    font-weight: bolder;
  }
  
  #container > .left_section> aside > a {
    display: block;
    width: 100%;
    height: 50px;
    padding: 0px 10px;
    line-height: 50px;
    color: #333;
    font-weight: bold;
    border-bottom: 1px solid #dcdcdc;
  }
  
  #container > .left_section > aside > a:hover {
    background-color: #3f97ef;
    color: #fff;
  }
  .right_section > article > div:nth-child(1){
    width: 960px;
    height: 50px;
    float: right;
    margin-top: 30px;
     
  }

  .right_section > article > div:nth-child(1) > h3{
    font-weight: bolder;
    font-size: 20px;
    border-bottom: 2px solid #222222;
    
  }

  .right_section> article>div:nth-child(2){
    width: 930px;
    height: 604px;
    float: left;
    margin-left: 20px;
  }

  .right_section>article>div:nth-child(2)>ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    list-style: none;
  }
  
  .right_section>article>div:nth-child(2)>ul>li>div{
    width: 298px;
    height: 290px;
  }

  .right_section>article>div:nth-child(2)>ul>li>div>p>img{
    width: 297px;
    height: 220px;
  }

  .right_section > article > div > ul > li > .gallery_1 .p_text{
    margin-top: 10px;
  }
  .right_section > article > div > ul > li > .gallery_2 .p_text{
    margin-top: 10px;
  }
  .right_section > article > div > ul > li > .gallery_3 .p_text{
    margin-top: 10px;
  }
  .right_section > article > div > ul > li > .gallery_4 .p_text{
    margin-top: 10px;
  }
  .right_section > article > div > ul > li > .gallery_5 .p_text{
    margin-top: 10px;
  }

  .right_section > article > div > ul > li > .gallery_1 .p_text a span {
    width: 297px;
    height: 22px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
}

.right_section > article > div > ul > li > .gallery_2 .p_text a span {
    width: 297px;
    height: 22px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
}
.right_section > article > div > ul > li > .gallery_3 .p_text a span {
    width: 297px;
    height: 22px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
}
.right_section > article > div > ul > li > .gallery_4 .p_text a span {
    width: 297px;
    height: 22px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
}
.right_section > article > div > ul > li > .gallery_5 .p_text a span {
    width: 297px;
    height: 22px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
}

.right_section > article > div > ul > li > .gallery_1 .p_text1{
    width: 297px;
    height: 20px;
    margin-top: 10px;
    
}

.right_section > article > div > ul > li > .gallery_1 .p_text1 >span{
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #888888;
}

.right_section > article > div > ul > li > .gallery_2 .p_text1 >span{
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #888888;
}

.right_section > article > div > ul > li > .gallery_3 .p_text1 >span{
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #888888;
}
.right_section > article > div > ul > li > .gallery_4 .p_text1 >span{
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #888888;
}

.right_section > article > div > ul > li > .gallery_5 .p_text1 >span{
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #888888;
}