<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/management/lectureRegister.css">
    <link rel="stylesheet" href="/css/common/pagination.css" />
    <link rel="stylesheet" href="/css/common/header.css" />
    <link rel="stylesheet" href="/css/common/footer.css" />
</head>
<body>
<th:block th:include="/common/html/management/header.html"/>
    <main id="container">
        <div>
            <th:block th:include="/common/html/management/aside.html"/>
            <section>
                <div class="title-area">
                  <h1>강의 등록</h1>
                  <h2>학사운영&ensp;&ensp;<span>>&ensp;&ensp;강의등록</span></h2>
                </div>
                <form th:action="@{/management/lectureRegister}" method="post">
                <div>
                  <p><img src="/images/bullet-h4.png" alt="#"> 기본정보 입력</p>
                    <table class="Enter_basic_information">
                      <tr>
                        <td>과목코드</td>
                        <td>
                          <input type="text" name="id">
                        </td>
                        <td>개설학과</td>
                        <td>
                          <select name="department">
                            <th:block th:each="department : ${departmentDTOS}">
                              <option th:value="${department.id}" th:text="${department.name}"></option>
                            </th:block>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <td>개설학년</td>
                        <td>
                          <select name="level">
                            <option value="1">1학년</option>
                            <option value="2">2학년</option>
                            <option value="3">3학년</option>
                            <option value="4">4학년</option>
                          </select>
                          <select name="semester">
                            <option value="1">1학기</option>
                            <option value="2">4학기</option>
                          </select>
                        </td>
                        <td>학점</td>
                        <td>
                          <select name="credit">
                            <option value="2">2학점</option>
                            <option value="3">3학점</option>
                            <option value="4">4학점</option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <td>이수구분</td>
                        <td>
                          <select name="classification">
                            <option value="major">전공</option>
                            <option value="selective">교양선택</option>
                          </select>
                        </td>
                        <td>담당교수</td>
                        <td>
                          <select name="professor">
                            <th:block th:each="professor : ${userDTOS}">
                              <option th:value="${professor.id}" th:text="${professor.name}"></option>
                            </th:block>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <td>강의명</td>
                        <td colspan="3">
                          <input type="text" placeholder="강의명 입력" name="name">
                        </td>
                      </tr>
                      <tr>
                        <td>강의 설명</td>
                        <td colspan="3">
                          <input type="text" placeholder="강의 개요 및 목표, 학습 내용 등" name="description">
                        </td>
                      </tr>
                    </table>
                </div>
                <div>
                  <p><img src="/images/bullet-h4.png" alt="#"> 대학 운영 현황</p>
                  <table class="University_operation_status">
                    <tr>
                      <td>수업 기간</td>
                      <td colspan="3">
                        <input type="date" name="start_date">
                        <span> ~ </span>
                        <input type="date" name="end_date">
                      </td>
                    </tr>
                    <tr>
                      <td>수업 시간</td>
                      <td colspan="3">
                        <select name="start_at">
                          <option value="1">09:00:00</option>
                          <option value="2">10:00:00</option>
                          <option value="3">11:00:00</option>
                          <option value="4">12:00:00</option>
                          <option value="5">13:00:00</option>
                          <option value="6">14:00:00</option>
                          <option value="7">15:00:00</option>
                          <option value="8">16:00:00</option>
                          <option value="9">17:00:00</option>
                        </select>
                        <span> ~ </span>
                        <select name="end_at">
                          <option value="1">10:00:00</option>
                          <option value="2">11:00:00</option>
                          <option value="3">12:00:00</option>
                          <option value="4">13:00:00</option>
                          <option value="5">14:00:00</option>
                          <option value="6">15:00:00</option>
                          <option value="7">16:00:00</option>
                          <option value="8">17:00:00</option>
                          <option value="9">18:00:00</option>
                        </select>
                        <input type="checkbox" value="1" class="week" name="">
                        <span>월</span>
                        <input type="checkbox" value="2" class="week">
                        <span>화</span>
                        <input type="checkbox" value="3" class="week">
                        <span>수</span>
                        <input type="checkbox" value="4" class="week">
                        <span>목</span>
                        <input type="checkbox" value="5" class="week">
                        <span>금</span>
                      </td>
                    </tr>
                    <tr>
                      <td>평가방식</td>
                      <td colspan="3">
                        <input type="text" placeholder="출석 10%, 과제 30%, 시험 60%" name="evaluation_methods">
                      </td>
                    </tr>
                    <tr>
                      <td>교재</td>
                      <td colspan="3">
                        <input type="text" placeholder="출판사-도서명-저자 입력" name="textbook">
                      </td>
                    </tr>
                    <tr>
                      <td>강의실</td>
                      <td>
                        <input type="text" placeholder="인문관 301호" name="classroom">
                      </td>
                      <td>최대 수강인원</td>
                      <td>
                        <input type="text" name="max_registered">
                      </td>
                    </tr>
                  </table>
                  <button class="btn_register">등록</button>
                </div>
              </form>
            </section>
        </div>
    </main>
<th:block th:include="/common/html/management/footer.html"/>
</body>

</html>