<!--
    작성자: garden(박정원)
    설명 : 로그인 > 로그인 페이지
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>공지사항</title>
    <link rel="stylesheet" href="/css/common/header.css" />
    <link rel="stylesheet" href="/css/common/footer.css" />
    <link rel="stylesheet" href="/css/common/nav.css" />
    <link rel="stylesheet" href="/css/common/table.css" />
    <link rel="stylesheet" href="/css/login/login.css" />
    <link rel="stylesheet" href="/css/common/pagination.css" />
    <link rel="stylesheet" href="/css/common/side-menu.css" />

  </head>
  <body>
    <div id="wrapper">
      <th:block th:include="/common/html/header.html"/>
      <nav>
      </nav>
      <main id="container">
        <div class="log">
            <form method="post" action="/login/login">
                <div class="log_head">
                    <p>LOGIN<br></p>
                    <p>로그인을 하시면 더 다양한 서비스를 받으실 수 있습니다.</p>
                    <ul>
                        <input type="radio" name="role" value="student"/> 학부생&ensp;
                    </ul>
                    <ul>
                        <input type="radio" name="role" value="professor"/> 교직원&ensp;
                    </ul>
                    <ul>
                        <input type="radio" name="role" value="general"/> 일반인&ensp;
                    </ul>
                    <ul>
                        <input type="radio" name="role" value="admin"/> 관리자&ensp;
                    </ul>
                    <a href="#">아이디/비밀번호 찾기</a>
                </div>
                <div class="log_main">
                    <input type="text" name="id" placeholder="아이디"/><br>
                    <input type="password" name="password" placeholder="비밀번호"/><br>
                    <span class="errorMessage"></span>
                    <input type="submit" class="search-btn search-input" value="로그인"
                           style="background-color: #3f97f6;"/>
                </div>
            </form>
            <a th:href="@{/login/terms}" class="register">회원가입</a>
            <div class="log_bottom">
                <p><img src="/images/bullet-h4.png">&ensp;아이디, 비밀번호 안내</p>
                <p>- 대학 구성원(학원, 교직원)은 회원가입없이 교번, 학번을 사용하여 로그인이 가능합니다.<br>
                   - 비밀번호 분실시 학생지원팀에 방문하셔서 초기화하실 수 있습니다.<br>
                   - 재학, 휴학, 졸업 유예인 경우 사용하실 수 있으며, 매년 학적변동이 일어날 때 상태가 변경됩니다.<br>
                   - 문의사항이 있으시면 담당자(055-123-4567)에게 전화주세요</p>
            </div> 

        </div>
      </main>
      <th:block th:include="/common/html/footer.html"/>
    </div>
    <script src="/js/community/request.js"></script>
    <script src="/js/community/animation.js"></script>
  </body>
</html>
